# Node.js dependencies
node_modules/

# Output directory for compiled TypeScript files
dist/

# TypeScript build cache
*.tsbuildinfo

# Editor or IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log

# Environment variables file
.env

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db
